
<article class="article-body">
  <p>
    byeweb discusses various subjects connected to computer science. it aims at sharing knowledge and practices regarding software engineering, web development, data science, mathematics, networking, system administration and security. because web is boring and we try to learn new things, it mainly talks about web stuff.
  </p>
</article>
