---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="articles">
  <div>articles</div>
  <ul>
    <li>
      <a href="articles/practicals">practicals</a>
    </li>
    <li>
      <a href="articles/tutorials">tutorials</a>
    </li>
  </ul>
</Layout>
