<div>
  <h2>browse by type</h2>
  <div class="mb-4"/>
  <ul class="article-menu mb-8 mt-8">
    <li class="article-type">
      <a href="articles/journeys">journeys</a>
    </li>
    <li class="article-type">
      <a href="articles/practicals">practicals</a>
    </li>
    <li class="article-type">
      <a href="articles/summaries">summaries</a>
    </li>
    <li class="article-type">
      <a href="articles/tutorials">tutorials</a>
    </li>
  </ul>
</div>
