---
import HomeCatchPhrase from "../atoms/HomeCatchPhrase.astro";
import HomeDescription from "../atoms/HomeDescription.astro";
---

<h1 class="mt-4">a story about broken stuff</h1>
<div class="boxed-h1 mt-4 mb-4"/>
<HomeCatchPhrase />
<HomeDescription />
