---
import Layout from "../layouts/Layout.astro";
---

<Layout title="byeweb">
  <p>404 : not found</p>
  <p>not a safe place to be</p>
  <a href="/">bring me back</a>
  <img src="/404.png" alt="broken pieces of machinery" />
</Layout>
