---
import ArticlesAuthorMenu from "../../../components/Articles/molecules/ArticlesAuthorMenu.astro";
import ArticlesTypeMenu from "../../../components/Articles/molecules/ArticlesTypeMenu.astro";
import ArticlesTagMenu from "../../../components/Articles/molecules/ArticlesTagMenu.astro";
---

<div class="flex flex-row flex-wrap">
  <ArticlesTypeMenu />
  <ArticlesAuthorMenu />
  <ArticlesTagMenu />
</div>
